<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Demo Test suite" parallel="none">
	
	<test name="API testing">
		<classes>
			<class name="com.apitesting.DemoApiTest" />
		</classes>
	</test>

	<test name="Demo Web UI test suite">
		<!--<parameter name="browser" value= "chrome" />-->
		<classes>
			<class name="com.webuitesting.test.setup" />
		</classes>
	</test>
</suite>

